<!doctype html>
<html>
<head>
<title>Intro to Sinatra</title>
<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="application.css" type="text/css" />
 
	<style>

	</style>
</head>

<body>
	<header></header>
	<section>
		<article>
			<h1>This is the article title of <%= @name %></h1>
			<% if @show_description %>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
			<% end %>
		</article>
	</section>
	<footer></footer>
</body>
</html>