<%= image_tag(@location.picture_url) %>
<h1><%= @location.name.titleize %></h1>
<h3><strong>Review:</strong></h3>
<p><%= @location.review %></p>
<p><%= link_to "Edit Location", edit_location_path %></p>
