<html ng-app="myApp">
	<head>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body ng-controller="IndexCtrl">
		
		<!-- BODY -->			
		<!-- <div>hello {{world}}</div><input ng-model="world"> -->
		<div ng-click="addTodo()" class="positive">Add Todo</div>
		<ul>
			<li ng-repeat="task in todos">
				<input ng-model="task.todo">
				<button ng-click="deleteTodo()" class="negative">delete</button>
			</li>
		</ul>
		<div ng-click="saveTodos()" class="positive">Save</div>
		
		<!--  SCRIPTS -->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
			<script>
				var app = angular.module('myApp', []);

				app.controller('IndexCtrl', function ($scope) {
					// $scope.world="world";
					$scope.todos = [
						{todo: "Ir al supermercado"},
						{todo: "Comprar un elefante volador"},
						{todo: "Instalarle alas al elefante"}
					];

					$scope.addTodo = function () {
						$scope.todos.push({});
					}

					$scope.deleteTodo = function () {
						$scope.todos.splice(this.$index, 1);
						appStorage.put($scope.todos);
					}

					$scope.saveTodos = function() {
						appStorage.put($scope.todos);
					}
				});

				app.factory('appStorage', function () {
					var ID = "makerSquareAngularTodo";
					var get = function () {
						return JSON.parse(localStorage.getItem(ID) || '[]');
					};
					var put = function (todoList) {
						localStorage.setItem(ID, JSON.stringify(todoList));
					};
					return {
						get: get,
						put: put
					}
				});


// 				function TodoController ($scope) {
// 	$scope.appTitle = "Katie's Awesome ToDo App";
// 	$scope.appHeadline = "This one will save to local storage!";
// 	$scope.saved = localStorage.getItem('todos');
// 	$scope.todos = (localStorage.getItem('todos')!==null) ? JSON.parse($scope.saved) : [ {text: 'Learn AngularJS', done: false}, {text: 'Build an Angular app', done: false} ];
// 	localStorage.setItem('todos', JSON.stringify($scope.todos));

// 	$scope.addTodo = function() {
// 		$scope.todos.push({
// 			text: $scope.todoText,
// 			done: false
// 		});
// 		$scope.todoText = ''; //clear the input after adding
// 		localStorage.setItem('todos', JSON.stringify($scope.todos));
// 	};

// 	$scope.remaining = function() {
// 		var count = 0;
// 		angular.forEach($scope.todos, function(todo){
// 			count+= todo.done ? 0 : 1;
// 		});
// 		return count;
// 	};

// 	$scope.archive = function() {
// 		var oldTodos = $scope.todos;
// 		$scope.todos = [];
// 		angular.forEach(oldTodos, function(todo){
// 			if (!todo.done)
// 				$scope.todos.push(todo);
// 		});
// 		localStorage.setItem('todos', JSON.stringify($scope.todos));
// 	};
// }
			</script>
	</body>

</html>


