<div class="row">
	<div class="large-12 columns"><h1>All movies</h1></div>
	<% @movies.each do |movie| %>
	  <div class="large-3 medium-4 small-6 columns">
	  	<h6><%= link_to movie.title, movie %></h5>
			<p><%= link_to image_tag(movie.image), movie %></p>
	  </div>
	<% end %>
</div>

	
