!!!
%html
	%head
		%title URDB 0.3
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		%h1 URDB 0.3
		= yield