<h1>All Students</h1>
<ul>
	<li><%= link_to "Jorge Polanco",	student_path('polanco') %></li>
	<li><%= link_to "Mateo Clarke", 	student_path('clarke') %></li>
	<li><%= link_to "Gene Chatham", 	student_path('chatham') %></li>
	<li><%= link_to "Mayer Seidman", 	student_path('seidman') %></li>
</ul>