.item {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 0 10px 0;
}
.centered {
	text-align: center;
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
.pad-right {
	padding-right: 0px;
}
.pad-top-ten {
	padding-top: 10px; 
}
.border-top {
	border-top: 1px solid #ccc;
}